*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /*to include padding and border in width and height*/
}

body{
    padding: 1rem;
    text-align: center;
}

.card{
    text-align: center;
    width: 400px;
    background-color: #003092;
    border: 1px solid black;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 100%;
}

button{
    margin-top: 50px;
    height: 2rem;
    width: 8rem;
    background-color: #D84040;
    color: #ECDCBF;
    border: none;
}

h1{
    text-align: center;
    margin-bottom: 50px;
}